body {
    padding: 2em;
}

.center {
    margin: 0 auto;
    max-width: 1200px;
}

.headlines::after{
    content: "";
    display: block;
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background: rgba(255, 255, 255, 0.904);
}


.headlines {
    position: relative;

    #headlines-container {
        display: flex;
        min-width: 100%;
        min-height: 400px;
        overflow-x: auto;
        position: relative;

        &::-webkit-scrollbar{
            display: none;
        }

        .newsElement {
            min-width: 500px;
            position: relative;
            transition: 1s all;
            background-color: grey;
            margin-right: 1em;
        }
    }
}